
.sim {
    position: absolute;
    width: 1330px;
    height: 95px;
    background: #3c8dbc;
    color: #fff;
    text-align: center;
    box-shadow: 2px 4px 6px #262626;
    margin-top: -8px;
    margin-left: 10px;
}

h1 {
    font-family: sans-serif;
    font-size: 42px;
    color: #fff;
    margin-top: 20px;
}


#mid {
    position: absolute;
    height: 580px;
    width: 1050px;
    margin: 138px 0px 0px 10px;
    box-shadow: 3px 4px 6px #262626;
    border-radius: 6px;
    background-color: #f2f2f2;
    background-image: url('images/cover.png');
}

#board {
    position: absolute;
    margin: 250px 0px 5px 100px;
    height: 300px;
    width: 900px;
    border-radius: 5px;
    border: 3px solid #d6d3d3;
    box-shadow: 3px 4px 6px #888888;
    background-image: url('images/board.png');
    display: block;
    visibility: hidden;
}

#supply {
    height: 120px;
    width: 185px;
    background-image: url('images/supply.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 60px 0px 0px 450px;
}

/* Components */

#led {

    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 736px;
}
#led1 {
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 628px;
}


#ic741{position: absolute;
    height: 154px;
    width: 57px;
   top:72px;
   left:382px;
   /* background-image: url('images/ic7408.png');*/
    display: inline-block;
    visibility: hidden;
}
#ic1
{
    position: absolute;
    top:5px;
}



/* Right Components Code here */

#instruction:hover {
        background-color: #7CFC00;
        color: #000;
}
    #instruction

    {   top:30px;
        margin-left: 1090px;
        position: absolute;
        width:150px;
        height:30px;
        color: #fff;
        background-color: #262626;
        border-radius: 6px;
        font-size: 16px;
      
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left:960px;
  margin-top: 130px;
  background-color: #fff;
  width: 365px;
  height: 500px;
  border:4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
  z-index: 100;
  overflow: auto;
  padding: 10px;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
a
{
    color: red;
}
.components                                            /*      fieldset position  */
{   position: absolute;
    display: inline-block;
    width:260px;
    height:410px;
    border-radius: 7px;
    visibility: hidden;
    top:130px;
    left:1080px;
    font-size: 23px;
    font-family: sans-serif;
}

#breadbutton                                                      /*     breadboard button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 15px;
    margin-left:60px;
    color: #fff;   
}
#breadbutton:hover          
{
    background-color:#7CFC00;
    color:#000;
}

#ic2button                                           /*      ic button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 85px;
    margin-left:60px;
    color: #fff;
}
#ic2button:hover                                       
{
    background-color:#7CFC00;
    color:#000;
}

#supplybutton                                            /*      supply button  */
{   width: 150px;
    height:60px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 25px;
    margin-left:60px;
    color: #fff;
}
#supplybutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#switchbutton                                         /*  digital multimeter   */
{  width: 150px;
   height:60px;
   background-color: #262626;
   border-radius: 10px;
   position: absolute;
   margin-top: 55px;
   margin-left:60px;
   color: #fff;
}
#switchbutton:hover
{
    background-color:#7CFC00;
    color:#000;
}

#capbutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    margin-top: 95px;
    margin-left:60px;
    color: #fff;
}
#capbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}

#resistancebutton                                                   /*      led button   */
{  width: 150px;
   height:40px;
   background-color: #262626;
   border-radius: 10px; 
   position: absolute;
   margin-top: 105px;
   margin-left:60px;
   color: #fff;
}
#resistancebutton:hover
{
    background-color:#7CFC00;
    color:#000;
}

#checkbutton                                      /*      check connections buttton  */
{   width: 100px;
    height:54px;
    background-color: #ffff99;
    border-radius: 10px;
    position: absolute;
    top:550px;
    left:1080px;
    font-weight: bolder;
}

#checkbutton:hover                                  
{
    background-color:#7CFC00;
    color:#000;

}
#startbutton                                          /*      start button   */
{   width: 150px;
    height:54px;
    background-color: #ccff99 ;
    border-radius: 10px;
    position: absolute;
    top:550px;
    left: 1200px;
    font-weight: bolder;

}
#startbutton:hover
{
    background-color:#7CFC00;
    color:#000;
}

#resetbutton                           /*reset button*/
{   width: 100px;
    height:50px;
    background-color: #ff9999 ;
    border-radius: 10px;
    position: absolute;
    top:610px;
    left: 1080px;
    font-weight: bolder;

}
#resetbutton:hover 
{
    background-color:#7CFC00;
    color:#000;

}
#addtable                          /*result button*/
{   width: 150px;
    height:50px;
    background-color: #ff9999 ;
    border-radius: 10px;
    position: absolute;
    top:610px;
    left: 1200px;
    font-size: 18px;

}
#addtable:hover 
{
    background-color:#7CFC00;
    color:#000;
}

h3
{
    position: absolute;
    font-family:sans-serif;
    width:380px; 
    margin-left: 20px;
    font-style: bold;

}
button
{
    font-size: 19px;
    font-style: bold;
       cursor: pointer;
       font-family: serif;
}
footer
{
    position: absolute;
    top:730px;
    left:20px;
    font-size: 18px;
  }
u
{
    font-family: sans-serif;
}
strong
{position: absolute;
     top: 350px;
    font-size: 20px; 
     margin-left:70px;
}
.button
{
    margin-top: 170px;
    font-size: 15px;
     margin-left:70px;
border-radius: 4px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: white;


}
#cap
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 286px;
}
#cap1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 230px;
}
#cap2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 57px;
    left: 284px;
}
#resistance1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 153px;
}
#resistance2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 116px;
}
#resistance3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 112px;
}
#resistance4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 152px;
}
#resistance5
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 193px;
}
#cro1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 660px;
}
#generator
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: 120px;
}

#capacitor
{
  margin-left: -7px;
  margin-top: 42px;
}
#capacitor1
{
  margin-left: -5px;
  margin-top: 42px;
}
#capacitor2
{
  margin-left: -5px;
  margin-top: 42px;
}

#chooseone
{
    position: absolute;
    width: 245px;
    height: 100px;
    top:140px;
    left: 1080px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #3c8dbc;
    color: #fff;
    padding:10px;
    text-align: center;
}

.radio-input
{
    font-weight: bolder;
    color: #000080;
}

#showanother
{
    visibility: hidden;
    position: absolute;
    top:260px;
    left:1090px;
    width:220px;
    padding: 10px;
    height:150px;
    border-radius:5px;
    background-color: #fff;
    color: #000;
}

#sel2
{
    position: absolute;
    margin-top: 10px;
    margin-left: -80px;
    width: 160px;
}

#heading
  {
    position: absolute;
    margin-top: 95px;
    margin-left: 10px;
    width:1330px;
    height:35px;
    border-radius: 4px;
    background-color: #404040;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }

#display
{
    position: absolute;
    top:165px;
    left:814px;
    background-color: #C7E5F0;
    z-index: 10;
    border-radius: 4px;
    transition: transform .2s;

}

#display:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

    #square1
    {
        position: absolute;
        top:20px;
        left:800px;
        background-color: #FDD017;
        width: 120px;
        height:180px;
        border-radius: 10px;
        box-shadow: 5px 10px #888888;

    }
       
    #square5
    {
        position: absolute;
        top: 40px;
        left:815px;
         height: 50px;
  width: 90px;
  background-color: #4E9258;
  border-radius: 4px;
  display: inline-block;
    }



      #box1
      {
        position: absolute;
        top:150px;
        left:50px;
        font-weight: bolder;
        font-size: 22px;
      }  
       #box2
      {
        position: absolute;
        top:605px;
        left:300px;
        font-weight: bolder;
        font-size: 22px;
        color: red;
      }  
      #res1{
     transition: transform .2s;


}

#res1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res2
{
     transition: transform .2s;


}

#res2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res3
{
     transition: transform .2s;


}

#res3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res4
{
     transition: transform .2s;


}

#res4:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res5
{
     transition: transform .2s;


}

#res5:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#knobs
{
  padding-left: 2px;
}
#figure1
{
  height: 230px;
  width: 300px;
}
#vertical
{
  position: absolute;
  top: 420px;
  left: 613px;
  z-index: 80;
  visibility: hidden;
}
#horizontal
{
  position: absolute;
  top: 420px;
  left: 960px;
  z-index: 80;
  visibility: hidden;
  
}