
body
{ background-color: #ffffff }
p
{
color: 000000;
}
#block1
{
    margin-left: 100px;
    margin-right: 100px;
	border-color: black;
	border:20px;
background-color:#ff9f9f;
}
.slider {
	margin-left: 180px; 
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


#x
{
border-width:5px;
border-color: 000000;

}
#y
{margin-top: 15px;
border-width:5px;
border-color: 000000;
}
.x1
{
	margin-left: 180px;
	color:black;
	
	
	
}
.y1
{color:black;
		margin-left: 250px;
	
	
	
	
}
#entry
{
	border-width:5px;
	margin-top: 80px;
margin-left: 450px;
color: #000000;
width: 160px;
height: 40px;
background-color: #54e3e8;
}
	
#Thisistable
{
	
	margin-top: 80px;
	margin-left: 320px;
	
}
tr
{
	background-color:#9E7BFF;
}